{% extends 'app/base.html' %}
{% load static %}
{% block title %}contact{% endblock title %}
{% block main-content %}

<div class="container">
    <h1 class="text-center">Contact Us</h1>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor cum iusto inventore nisi voluptatem rem, repellendus, veritatis commodi repellat voluptatibus quos deserunt explicabo. Quas esse perspiciatis ipsum consequatur, nostrum vero velit quis quos laborum placeat asperiores id aperiam, earum deleniti?</p>
</div>
{% endblock main-content %}